body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.headerMiddleSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 31.25rem;
}

.navStyling {
    width: 18.75rem;
    display: flex;
    justify-content: space-around;
}

.hdrBtnContainer {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;

}

.shoppingCartImage {
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1338BE;
    cursor: pointer;
}

.mainContentWrapper {
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    min-height: 45 vh;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.sideBar {
    width: 20%;
    min-height: 50vh;
    background-color: #eeeff3;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.videoscontainerDiv {
    width: 250px;
    height: 250px;
}