body {
    font-family: 'Poppins', sans-serif;
    background: aliceblue;
    min-width: 60rem;
}

.homePageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.headerWrapper{
    display: flex;
    flex-direction: column;
}

.websiteLogoButton {
    border: none;
    padding: 0%;
    width: 100%;
    height: 100%;
}


.headerMiddleSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:31.25rem;
}

.navStyling{
    width:18.75rem;
    display: flex;
    justify-content: space-around;
}

.hdrBtnContainer {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 5px;
    
}

.profilePicture {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 25px;
}
.shoppingCartImage {
    border: none; 
    background-color: white;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#1338BE;
}

.videoContainer{
    display: flex;
    justify-content: center;
    width: 79rem;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.videoContainer video{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.cardWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cardholder{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.instructorCard{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color:white;
    width:16rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08),
    0 4px 12px rgba(0, 0, 0, .08);
    transition: background-color 0.5s,color 0.5s,transform 0.5s ease;/* Add a transition for smooth movement */
    cursor: pointer;
}
.instructorCard:hover{
    background-color: #5F9EA0;
    color:white;
    transform: translate(0px,-5px);/* Move the card slightly up on hover */
}
.cardImg{
    width:30px;
}
.instructorCard p{
    text-align: center;
}
.sectionWrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.courseCategories{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.courseImg{
    width:50px;
}
.webDevWraper{
    display: flex;
    flex-direction: column;

}
.webDevHeading{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 30px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .08),
    0 4px 12px rgba(0, 0, 0, .08); */
}
.webDevHeadingImg{
    border-radius: 40px;
}
.webDevCardCollection{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.webDevCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08),
    0 4px 12px rgba(0, 0, 0, .08);
}
.webDevImgOne{
   width:220px;
}
.webDevImg2{
    width:220px;
   height:220px;
}
.authorName{
    color: gray;
    text-align:justify;
}

