.clearFix {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-width: 60rem;
}

input {
    outline: none;
}

p {
    margin: 0px;
    padding: 0px;
}

.fontStyle {
    font-size: 40px;
}

.separator {
    border-top: 1px solid #d1d7dc;
}

/* Font weight styling starts here */

.fw-lightest {
    font-weight: 200;
}

.fw-lighter {
    font-weight: 300;
}

.fw-normal {
    font-weight: 400;
}

.fw-semi-bold {
    font-weight: 500;
}

.fw-bold {
    font-weight: 600;
}

.fw-bolder {
    font-weight: 800;
}

/* Font weight styling ends here */


/* Buttons styling starts here */

.primaryButton {
    padding: 8px 24px;
    font-size: 14px;
    /* color: aliceblue; */
    color: #2E5090;
    /* background-color: #1338BE; */
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;

}

.secondaryButton {
    padding: 8px 24px;
    font-size: 14px;
    /* color: #1338BE; */
    color: white;
    /* background-color: aliceblue; */
    background-color: #1338be;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #1338BE;

}

.tertiaryButton {
    padding: 4px 0px;
    font-size: 14px;
    /* color: #1338BE; */
    color: white;
    background-color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

/* Buttons styling ends here */

/* Margin styling starts here */

.mr-5 {
    margin: 5px;
}

.mr-10 {
    margin: 10px;
}

.mr-15 {
    margin: 15px;
}

.mr-20 {
    margin: 20px;
}


.mr-t-5 {
    margin-top: 5px;
}

.mr-t-10 {
    margin-top: 10px;
}

.mr-t-15 {
    margin-top: 15px;
}

.mr-t-20 {
    margin-top: 20px;
}

.mr-r-5 {
    margin-right: 5px;
}

.mr-r-10 {
    margin-right: 10px;
}

.mr-r-15 {
    margin-right: 15px;
}

.mr-r-20 {
    margin-right: 20px;
}

.mr-b-5 {
    margin-bottom: 5px;
}

.mr-b-10 {
    margin-bottom: 10px;
}

.mr-b-15 {
    margin-bottom: 15px;
}

.mr-b-20 {
    margin-bottom: 20px;
}

.mr-l-5 {
    margin-left: 5px;
}

.mr-l-10 {
    margin-left: 10px;
}

.mr-l-15 {
    margin-left: 15px;
}

.mr-l-20 {
    margin-left: 20px;
}

/* Margin styling starts here */


/* Padding styling starts here */

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}


.pd-t-5 {
    padding-top: 5px;
}

.pd-t-10 {
    padding-top: 10px;
}

.pd-t-15 {
    padding-top: 15px;
}

.pd-t-20 {
    padding-top: 20px;
}

.pd-r-5 {
    padding-right: 5px;
}

.pd-r-10 {
    padding-right: 10px;
}

.pd-r-15 {
    padding-right: 15px;
}

.pd-r-20 {
    padding-right: 20px;
}

.pd-b-5 {
    padding-bottom: 5px;
}

.pd-b-10 {
    padding-bottom: 10px;
}

.pd-b-15 {
    padding-bottom: 15px;
}

.pd-b-20 {
    padding-bottom: 20px;
}

.pd-l-5 {
    padding-left: 5px;
}

.pd-l-10 {
    padding-left: 10px;
}

.pd-l-15 {
    padding-left: 15px;
}

.pd-l-20 {
    padding-left: 20px;
}

/* Padding styling ends here */

/* Headings styling starts here */

.main-heading {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.75rem;

}

.heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.sub-heading {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

/* Headings styling ends here */

.content {
    font-size: 0.875rem;
}

.sub-content {
    font-size: 0.75rem;
}

.notification {
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

/* Header Styling starts Here */

.mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2E5090;
    /* background-color: white; */
    /* background-color: rgba(243, 238, 238, 0.75); */

    box-shadow: 0 2px 4px rgba(0, 0, 0, .08),
        0 4px 12px rgba(0, 0, 0, .08);
}

.loginSignupHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.websiteLogoDiv {
    width: 150px;
    height: 55px;
}

.websiteLogoButton {
    border: none;
    background-color: transparent;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.websiteLogo {
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
}

/* .headerLogo {
    width: 200px;
    height: 75px;
} */

.searchForm {
    display: flex;
    justify-content: center;
    width: 50%;
}

.search {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: whitesmoke;
    border: 1px solid #f5f5f5;
    min-width: 120px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 3px 0.15px gray;
}

.searchBtn {
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: inherit;
    box-shadow: 1px 1px 3px 0.15px gray;
    padding: 10px;
}

.hdrBtnContainer {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.categories:hover {
    cursor: pointer;
    color: #1338BE;
}


/* Header Styling Ends Here */


/* Form Section */

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding: 30px;
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formSection {
    display: flex;
    flex-direction: column;
    width: 18rem;
    max-width: 100%;
}

.formIntro {
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.formStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*footer Styling*/

footer {
    min-width: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E5090;
}

.aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    font-size: 0.85rem;
}

.footerHoveringStyle:hover {
    cursor: pointer;
}

.footerStyling {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    align-items: center;
}

.footerIconsWrapper .icon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
}

.footerIconsWrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footerIconsWrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footerIconsWrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.footerIconsWrapper .icon:hover span,
.footerIconsWrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footerIconsWrapper .facebook:hover,
.footerIconsWrapper .facebook:hover .tooltip,
.footerIconsWrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.footerIconsWrapper .twitter:hover,
.footerIconsWrapper .twitter:hover .tooltip,
.footerIconsWrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.footerIconsWrapper .instagram:hover,
.footerIconsWrapper .instagram:hover .tooltip,
.footerIconsWrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.footerIconsWrapper .github:hover,
.footerIconsWrapper .github:hover .tooltip,
.footerIconsWrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.footerIconsWrapper .youtube:hover,
.footerIconsWrapper .youtube:hover .tooltip,
.footerIconsWrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

.copyRightSec {
    font-size: 0.85rem;

}