.body {
    font-family: roboto;
}

.clearFix {
    margin: 0;
    padding: 0;
}

/* Font weight styling starts here */

.fw-lightest {
    font-weight: 200;
}

.fw-lighter {
    font-weight: 300;
}

.fw-normal {
    font-weight: 400;
}

.fw-se-bold {
    font-weight: 500;
}

.fw-bold {
    font-weight: 600;
}

.fw-bolder {
    font-weight: 800;
}

/* Font weight styling ends here */


/* Buttons styling starts here */

.primaryButton {
    padding: 8px 24px;
    font-size: 14px;
    /* color: aliceblue; */
    /* background-color: antiquewhite; */
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.secondaryButton {
    padding: 8px 24px;
    font-size: 14px;
    /* color: aliceblue; */
    background-color: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
}

.tertiaryButton {
    padding: 4px 0px;
    font-size: 14px;
    /* color: aliceblue; */
    background-color: none;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

/* Buttons styling ends here */

/* Margin styling starts here */

.mr-5 {
    margin: 5px;
}

.mr-10 {
    margin: 10px;
}

.mr-15 {
    margin: 15px;
}

.mr-20 {
    margin: 20px;
}


.mr-t-5 {
    margin: 5px;
}

.mr-t-10 {
    margin: 10px;
}

.mr-t-15 {
    margin: 15px;
}

.mr-t-20 {
    margin: 20px;
}

.mr-r-5 {
    margin: 5px;
}

.mr-r-10 {
    margin: 10px;
}

.mr-r-15 {
    margin: 15px;
}

.mr-r-20 {
    margin: 20px;
}

.mr-b-5 {
    margin: 5px;
}

.mr-b-10 {
    margin: 10px;
}

.mr-b-15 {
    margin: 15px;
}

.mr-b-20 {
    margin: 20px;
}

.mr-l-5 {
    margin: 5px;
}

.mr-l-10 {
    margin: 10px;
}

.mr-l-15 {
    margin: 15px;
}

.mr-l-20 {
    margin: 20px;
}

/* Margin styling starts here */


/* Padding styling starts here */

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}


.pd-t-5 {
    padding: 5px;
}

.pd-t-10 {
    padding: 10px;
}

.pd-t-15 {
    padding: 15px;
}

.pd-t-20 {
    padding: 20px;
}

.pd-r-5 {
    padding: 5px;
}

.pd-r-10 {
    padding: 10px;
}

.pd-r-15 {
    padding: 15px;
}

.pd-r-20 {
    padding: 20px;
}

.pd-b-5 {
    padding: 5px;
}

.pd-b-10 {
    padding: 10px;
}

.pd-b-15 {
    padding: 15px;
}

.pd-b-20 {
    padding: 20px;
}

.pd-l-5 {
    padding: 5px;
}

.pd-l-10 {
    padding: 10px;
}

.pd-l-15 {
    padding: 15px;
}

.pd-l-20 {
    padding: 20px;
}

/* Padding styling ends here */

.parentContainer {
    position: absolute;
    border: 2px solid black;
    background-color: bisque;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
}

.m-heading {
    font-size: 2.5rem;
}

.heading {
    font-size: 2rem;
}

.s-heading {
    font-size: 2rem;
}

.content {
    font-size: 2rem;
}

.s-content {
    font-size: 2rem;
}

.notify {
    font-size: 2rem;
}