body {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #1338BE;
    cursor: pointer;
}

.contentWrapper {
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90%;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.mainContent {
    width: 70%;
    height: 85%;
    display: flex;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08),
        0 4px 12px rgba(0, 0, 0, .08);
}

.leftWrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.planWrapper {
    display: flex;
    flex-direction: column;
}

.planSelection {
    display: flex;
    justify-content: space-between;
}

.subscriptionOption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
}

.subscriptionPlans {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08),
        0 4px 12px rgba(0, 0, 0, .08);
    color: black;
    border-radius: 10px;
    width: 33%;
}

.paymentSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paymentSection h3 {
    margin: 0px;
    padding: 0px;
}

.paymentOptionsDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.paymentOptions {
    border: 1px solid black;
    padding: 10px;
    width: 25%;
    background-color: white;
    border-radius: 4px;
}

.paymentOptions:hover {
    color: white;
    cursor: pointer;
}

.paymentFormWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.paymentFormStyling {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 30px;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}