body {
    background-color: aliceblue;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 76px;

}

.navBar {
    width: 20%;
    height: 87.5vh;
    background-color: #011722;
    color: aliceblue;
}

.navBarContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

.mainContentWrapper {
    position: relative;
    width: 80%;
}



.headerSummary {
    position: absolute;
    left: 10%;
    top: 5%
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 4px rgba(129, 126, 126, 0.08);
    border-radius: 10px;
    margin-top: 40px;
}

.userDetailsSection {
    width: 100%;
    display: flex;
}

.firstSection {
    width: 50%;
    font-size: smaller;
}

.profilePicture {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: beige;
    display: inline-flex;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.editPhoto {
    position: absolute;
    right: 0px;
    bottom: 6px;
    width: 30px;
    height: 30px;
}

#userDescription {
    text-align: center;
    width: fit-content;
}

.navBarProfilePicture {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color: black;
    border-radius: 50%;
}

.userGreet {
    /* border-bottom: 1px solid white; */
}

.secondSection {
    width: 50%;
    font-size: smaller;
}

.thirdSection {
    width: 50%;
    font-size: smaller;
}