body {
    background-color: #E9EAED;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.navBar {
    background-color: #011722;
    width: 20%;
    height: 87.5vh;
}

.mainContentWrapper {
    position: relative;
    width: 80%;
}

.headerSummary {
    position: absolute;
    left: 10%;
    top: 5%
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.userDetailsSection {
    width: 100%;
    border: 1px solid black;
    display: flex;
    /* justify-content: space-around; */
}

.secondSection {
    display: inline-block;
    width: 50%;
}